Demo/Properties/PublishProfiles/prod-demo - Web Deploy.pubxml
Demo/Properties/PublishProfiles/prod-demo - FTP.pubxml
Demo/Properties/PublishProfiles/dev-demo-qa-demo - Web Deploy.pubxml
Demo/Properties/PublishProfiles/dev-demo-qa-demo - FTP.pubxml
Demo/Properties/PublishProfiles/dev-demo - Web Deploy.pubxml
Demo/Properties/PublishProfiles/dev-demo - FTP.pubxml
